body {
  font-family: "roboto", sans-serif;
  background-color: #CCCCCC;
  padding:0;
  margin:0;
}
html, body {
 height: 100%;
  
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-56 { font-size: 56px; }
.akira {
 text-align: center;
  font-family: 'roboto';
  font-weight: 300;
  font-size:80px;
  color:#6d6d6d;
}
.pic {
 width:250px;
  height:250px;
  background-image:url(https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xal1/v/t1.0-9/12987031_10207819290554017_7284645483713951468_n.jpg?oh=7a2dc85af5ef15b5c3f23a0f5e3ea0d1&oe=57B40CEC);
  background-size: cover;
  background-position: 25% 50%;
border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12); 
  transition: all .25s ease-in-out;
}
.pic:hover {
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.24);
}
.akira, .pic {
 display: inline-block;
  vertical-align: middle;
  position: relative;
  
}
.title {
 position: relative;
  top:25%;
  text-align: center;
  width:100%;
}

.card {
  position:absolute;
  width: 100%;
  display: block;
}
.first {
  background-color: #E4E7E9;
  top:0;
  height:100%; 

}
.second {
  top: 100%;
  background-color:#dedede;
}
.third {
 height:100vh;
  background-color:#cccccc;
  top:100%;
}
.fourth {
  height:100vw;
  background-color:grey;
  top:265%;
}

.sidenav {
  position: fixed;
 top:-65px;
  left:0;
  width:100%;
  background-color: #E4E7E9;
    z-index:+9999;
  opacity: 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  transition: all .25s ease-in-out;
}
.sidenav:hover {
 opacity: 1; 
}
.navicon {
 height:100%;
  position: absolute;
  vertical-align: middle;
}
.navicon, .btn {
 vertical-align: middle;
}
.btn {
  width:calc(100% / 8);
  cursor: pointer;
  text-decoration: none;
  color:#767676;
  line-height:65px;
  text-align: center;
  font-weight: 300;
  float: right;
  font-size: 30px;
  display: inline-block;
  position: relative;
  transition: all .25s ease-in-out;
}
.btn:hover {
  background-color:#ebebeb;
  box-shadow: inset 8px 8px #808080, inset -8px -8px #808080;
}


.subtitle {
 font-family:'libre baskerville';
  font-weight:300;
  color:#9f9f9f;
  font-size:50px;
  position:relative;
 top:-25px;
  
}
.akira, .subtitle {
 display: block; 
}
.subtitle a {
  color:#9f9f9f;
  transition: all .25s ease-in-out;
}
.subtitle a:hover {
 color:grey; 
}
.below {
 text-decoration: none;
  color:grey;
  background-color:lightgrey;
  border-radius:50%;
  display: inline-block;
  width:70px;
  height:70px;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
position: relative;
  transition: all .25s ease-in-out;
}
.arrowup {
 position: relative;
  top:15%;
}
.belowwrap {
  position:absolute;
  bottom:25px;
  width:100%;
  left:0;
  text-align: center;
}
.below:hover {
transform: scale(1.5);
 }
.below:active {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0);
}




.workheader { 
 text-align: center;
  font-weight: 300;
  color:#6D6D6D;
  line-height: 10vw;
  font-size: 75px;
}
.work {
 display: inline-block;
  float: left;
  position: relative;
  background-size:cover;
  cursor: default;
}
.thumb {
 width:25%;
  height:14vw;
  background-color:#C8C8C8;
  display: inline-block;
  background-position: center center;
  background-size: cover;
}

.future_nostalgia {
  background-image:url(http://i.imgur.com/QpgkAlx.jpg);
}
.clock_yellow {
  background-image: url(http://i.imgur.com/lofqLN0.jpg);
}
.clock_white {
  background-image: url(http://i.imgur.com/vhJuvGP.jpg);
}


.past_nostalgia {
  background-image: url(http://i.imgur.com/xp5yZi4.jpg);
  
}

.lightbulb_project {
  background-image:url(http://i.imgur.com/YZjB5Lh.jpg);
}

.clock_sketch {
  background-image: url(http://i.imgur.com/Y9rvceU.png);
}


.future1 {
  background-image:url(http://i.imgur.com/baCt1tV.jpg);
}
.future2 {
  background-image: url(http://i.imgur.com/YLJeqnr.jpg);
}
.future3 {
  background-image: url(http://i.imgur.com/ee08yu3.jpg);
}
.bulbs1 {
  background-image: url(http://i.imgur.com/S6l0HfN.png);
}
.bulbs2 {
  background-image: url(http://i.imgur.com/qCdgJeU.jpg);
}
.bulbs3 {
  background-image: url(http://i.imgur.com/OCrlyzA.png);
}

video {
 width:100%;
}


/* effects */

.effect {
 position: absolute;
  width:100%;
  height:100%;
  left:0;
  text-align: center;
  top:0;
  transition: all .25s ease-in-out;
}





.effect:hover {
 background-color:rgba(255, 255, 255, 0.8); 
  box-shadow: inset 8px 8px #808080, inset -8px -8px #808080;
}
.spec {
 display: none;
}
.none {
display: inline-block;
}




.showmore {
 text-decoration: none; 
  display: inline-block;
  position: relative;
  color:#dedede;
  background-color:#353535;
  width:10%;
  line-height: 40px;
  bottom:0px;
  cursor: pointer;
  border-radius: 3px;
  z-index: +1;
  transition: all .25s ease-in-out;
}
.showmore:hover {
 background-color:#b8b8b8;
  color:#2a2a2a;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.7);
}
.morewrap {
  text-align: center;
height:20px;
  position: absolute;
  width: 100%;
  bottom:3.5%;
  left:0;
}




.inbox {
position:absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  left: 0;
  font-size: 2vw; 
  transition: all .25s ease-in-out;
}
.intop {
  color:#4d4d4d;
  top:50%;
}
.work:hover .intop {
  top:13%;
  opacity: 1;
}
.inbot {
 bottom:50%;
  color:grey;
  font-family: 'libre baskerville';
}
.work:hover .inbot {
 bottom:17%;
  opacity: 1;
}
.divider {
 border: 0;
  position:relative;
  top:50%;
  width:0%;
  height:3px;
  background-color:#444444;
  transition:all .25s ease-in-out;
}
.work:hover .divider {
 width:75%;
}



.aboutheader {
 text-align:center; 
  font-size:70px;
  font-weight:300;
  color:#6D6D6D;
}
.aboutbanner {
 width:100%;
  height:33vw;
  position: relative;
  background-image: url(https://d2yca1enuxtdrs.cloudfront.net/images/x1vbUW1b/ex3Rm7ArNj1F8Ds6SXK3/akiraheader.jpeg);
  background-size:cover;
  background-position: center ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow:inset 0 2px 2px 0 rgba(0,0,0,0.14),inset 0 3px 1px -2px rgba(0,0,0,0.2),inset 0 1px 5px 0 rgba(0,0,0,0.12),inset 0 2px 2px 0 rgba(0,0,0,0.14),inset 0 3px 1px -2px rgba(0,0,0,0.2),inset 0 1px 5px 0 rgba(0,0,0,0.12); 
}
.about {
 font-size:2.3vw;
  position:absolute;
  width:100%;
  color:#484848;
text-align: center;
  line-height:5vw;
  background-color:rgba(228, 231, 233, 0.89);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12); 
  top:37%;
}
