body {
  font-family: "roboto", sans-serif;
  background-color: #e4e7e9;
  padding:0;
  margin:0;
}
html, body {
 height: 100%;
  
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-56 { font-size: 56px; }
.akira {
 text-align: center;
  font-family: 'roboto';
  font-weight: 300;
  font-size:80px;
  color:#6d6d6d;
}
.pic {
 width:250px;
  height:250px;
  background-image:url(https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xal1/v/t1.0-9/12987031_10207819290554017_7284645483713951468_n.jpg?oh=7a2dc85af5ef15b5c3f23a0f5e3ea0d1&oe=57B40CEC);
  background-size: cover;
  background-position: 25% 50%;
border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12); 
  transition: all .25s ease-in-out;
}
.pic:hover {
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.24);
}
.akira, .pic {
 display: inline-block;
  vertical-align: middle;
  position: relative;
  
}
.title {
 position: relative;
  top:25%;
  text-align: center;
  width:100%;
}

.card {
 height:100%; 
  position:absolute;
  width: 100%;
}
.first {
  top:0;
}
.second {
  top:100%;
  background-color:#c8c8c8;
}
.sidenav {
 width:100px;
  height:100px;
  position: fixed;
  right:0;
  width:16px;
  right:8px;
  top:31%;
    z-index:+9999;
}
.btn {
 width:16px;
  height:16px;
  background-color:grey;
  display: block;
  border-radius: 50%;
  position: relative;
  margin-top: 15px;
  transition: all .15s ease-in-out;
}
.btn::after {
 content: '';
position: absolute;
  top:50%;
    left:50%;
  width:0;
  height:0;
  border-radius: 50%;
  background-color:white;
  transition: all .25s ease-in-out;
}
.btn:hover {
  box-shadow:inset 0px -4px white, inset 0px 4px white;  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2); 
}
.btn:hover::after {
 width:80%;
  top:9%;
  left:10%;
  height:80%;
}
.subtitle {
 font-family:'libre baskerville';
  font-weight:300;
  color:#9f9f9f;
  font-size:50px;
  position:relative;
 top:-25px;
  
}
.akira, .subtitle {
 display: block; 
}
.subtitle a {
  color:#9f9f9f;
  transition: all .25s ease-in-out;
}
.subtitle a:hover {
 color:grey; 
}
.below {
 text-decoration: none;
  color:grey;
  background-color:lightgrey;
  border-radius:50%;
  display: inline-block;
  width:70px;
  height:70px;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
position: relative;
  transition: all .25s ease-in-out;
}
.arrowup {
 position: relative;
  top:15%;
}
.belowwrap {
  position:absolute;
  bottom:25px;
  width:100%;
  left:0;
  text-align: center;
}
.below:hover {
transform: scale(1.5);
 }





